.settingsContainer {
  display: flex;
  flex-direction: column;
  background-color: #f8f5ff;
  color: #333;
  height: 100vh;
  width: 100%;
}

.settingsWrapper {
  width: 100%;
}

.userInfoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6366f1;
  color: #fff;
  padding: 16px 20px;
}

.userInfoHeader {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.userInfoHeader .icon {
  margin-right: 12px;
  cursor: pointer;
  color: white;
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.userInfoContainer {
  padding: 20px;
  max-width: 1000px;
  margin: 100px auto;
}

.userInfoWrapper {
  margin-bottom: 24px;
  padding: 0px 4px 12px 0px;
  border-bottom: 2px solid #dfd3fb;
}

.userInfoHeader {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.userInfo {
  font-size: 16px;
  color: #555;
}

.spinner {
  align-self: center;
  margin: 400px auto;
  position: fixed;
}

.skeletalLoading {
  height: 20px;
  width: 200px;
}
